{% extends "base.html" %}

{% block title %}Edit Comment - Simple Blog{% endblock %}

{% block body %}
<h1>Edit Comment</h1>

{% if msg %}
    {{ msg }}
{% endif %}

<a href="{{ uri_for('viewpost', post_id=comment.key.parent().id()) }}">Back To Post</a>

<form method="POST">
    <label>
        <div>Comment</div>
        {% if errors %}
            <textarea name="body">{{ body }}</textarea>
            <div class="error">
                {{ errors.body }}
            </div>
        {% else %}
            <textarea name="body">{{ comment.body }}</textarea>
        {% endif %}
    </label>

    <div>
        <input type="submit">
    </div>
</form>

<form method="POST">
    <input type="hidden" name="action" value="delete">
    <input type="submit" value="Delete">
</form>

{% endblock %}
