{% extends "base.html" %}

{% block body %}
<h1>{{ page_title }}</h1>

{% if msg %}
    {{ msg }}
{% endif %}

<a href="{{ post_url }}">View Post</a>

<form method="POST">
    <label>
        <div>Title</div>
        <input type="text" name="title" value="{{ title }}">
        {% if errors and errors.title %}
            {{ errors.title }}
        {% endif %}
    </label>

    <label>
        <div>Body</div>
        <textarea name="body">{{ body }}</textarea>
        {% if errors and errors.body %}
            {{ errors.body }}
        {% endif %}
    </label>

    <input type="hidden" name="post_id" value="{{ post_id }}">

    <div>
        <input type="submit">
    </div>
</form>

{% endblock %}
