{% extends "base.html" %}

{% block body %}
<h1>{{ page_title }}</h1>

{% if msg %}
    {{ msg }}
{% endif %}

<a href="{{ post_uri }}">View Post</a>

<form method="POST">
    <label>
        <div>Comment</div>
        {% if errors %}
            <textarea name="body">{{ body }}</textarea>
            <div class="error">
                {{ errors.body }}
            </div>
        {% else %}
            <textarea name="body">{{ c.body }}</textarea>
        {% endif %}
    </label>

    <input type="hidden" name="action" value="update">

    <div>
        <input type="submit">
    </div>
</form>

<form method="POST">
    <input type="hidden" name="action" value="delete">
    <input type="submit" value="Delete">
</form>

{% endblock %}
