{% extends "base.html" %}

{% block title %}Edit Comment - Simple Blog{% endblock %}

{% block body %}
<h1>Edit Comment</h1>

{% if success %}
    Comment successfully updated.
{% elif errors %}
    Your comment was not edited. Please fix errors and resubmit.
{% endif %}


<a href="{{ uri_for('viewpost', post_id=comment.key.parent().id()) }}">Back To Post</a>

<form method="POST">
    <label>
        <div>Comment</div>
        {% if errors %}
            <textarea name="comment_body">{{ comment_body }}</textarea>
            <div class="error">
                Comment cannot be blank.
            </div>
        {% else %}
            <textarea name="comment_body">{{ comment.comment_body }}</textarea>
        {% endif %}
    </label>

    <div>
        <input type="submit">
    </div>
</form>

<a href="{{ uri_for('viewpost', post_id=comment.key.parent().id()) }}">Cancel</a>
<a href="{{ uri_for('deletecomment', comment_key=comment.key.urlsafe()) }}">Delete Comment</a>

{% endblock %}
