{% extends "base.html" %}

{% block body %}
<h1>{{ page_title }}</h1>

{% if msg %}
    {{ msg }}
{% endif %}

<a href="{{ post_uri }}">View Post</a>

<form method="POST">
    <label>
        <div>Title</div>
        {% if errors %}
            <input type="text" name="title" value="{{ title }}">
            <div class="error">
                {{ errors.title }}
            </div>
        {% else %}
            <input type="text" name="title" value="{{ p.title }}">
        {% endif %}
    </label>

    <label>
        <div>Body</div>
        {% if errors %}
            <textarea name="body">{{ body }}</textarea>
            <div class="error">
                {{ errors.body }}
            </div>
        {% else %}
            <textarea name="body">{{ p.body }}</textarea>
        {% endif %}
    </label>

    <div>
        <input type="submit">
    </div>
</form>

<form method="POST">
    <input type="hidden" name="action" value="delete">
    <input type="submit" value="Delete">
</form>

{% endblock %}
