{% extends "base.html" %}

{% block title %}Login - Simple Blog{% endblock %}

{% block body %}
<h1>Login</h1>

<form method="post">
    <label>
        <div>Email</div>
        <input type="text" name="email" value="{{ email }}">
        {% if form_errors and form_errors.email %}
            <div class="error">
                Please enter a valid email address.
            </div>
        {% endif %}
        {% if login_errors and login_errors.user %}
            <div class="error">
                There is no user with this email address.
            </div>
        {% endif %}
    </label>

    <label>
        <div>Password</div>
        <input type="password" name="password">
    </label>

    {% if login_errors and login_errors.wrong_pw %}
        <div class="error">
            The password is incorrect. Please try again.
        </div>
    {% endif %}

    <div>
        <input type="submit">
    </div>
</form>

<div>
    Don't have an account? <a href="{{ uri_for('signup') }}">Sign Up</a>
</div>
{% endblock %}
