{% extends "base.html" %}

{% block body %}
<h1>{{ page_title }}</h1>

<!-- TODO: error styling -->
<form method="post">
    <label>
        <div>Email</div>
        <input type="text" name="email" value="{{ email }}">
    </label>

    <label>
        <div>Password</div>
        <input type="password" name="password">
    </label>

    {% if errors %}
    <div class="error">
        {{ errors }}
    </div>
    {% endif %}

    <div>
        <input type="submit">
    </div>
</form>

<div>
    Don't have an account? <a href="{{ signup }}">Sign Up</a>
</div>
{% endblock %}
