{% extends "base.html" %}

{% block title %}Login - Simple Blog{% endblock %}

{% block body %}
<h1>Login</h1>

<form method="post">
    <label>
        <div>Email</div>
        <input type="text" name="email" value="{{ email }}">
    </label>

    <label>
        <div>Password</div>
        <input type="password" name="password">
    </label>

    {% if errors %}
    <div class="error">
        {% if errors.email %}
            Please enter a valid email address.
        {% elif errors.user %}
            There is no user with this email address.
        {% elif errors.valid_login %}
            The password is incorrect. Please try again.
        {% endif %}
    </div>
    {% endif %}

    <div>
        <input type="submit">
    </div>
</form>

<div>
    Don't have an account? <a href="{{ uri_for('signup') }}">Sign Up</a>
</div>
{% endblock %}
