{% extends "base.html" %}

{% block title %}Leave a Comment - Simple Blog{% endblock %}

{% block body %}
<h1>Leave a Comment</h1>

{% if msg %}
    {{ msg }}
{% endif %}

<a href="{{ uri_for('viewpost', post_id=post_id) }}">View Post</a>

<form method="POST">
    <label>
        <div>Comment</div>
        <textarea name="comment_body">{{ comment_body }}</textarea>
        {% if errors %}
            <div class="error">
                {{ errors.comment_body }}
            </div>
        {% endif %}
    </label>

    <div>
        <input type="submit">
    </div>
</form>

<form method="POST">
    <input type="hidden" name="action" value="delete">
    <input type="submit" value="Delete">
</form>

{% endblock %}
