{% extends "base.html" %}

{% block title %}New Post - Simple Blog{% endblock %}

{% block body %}
<h1>New Post</h1>

<form method="POST">
    <label>
        <div>Title</div>
        <input type="text" name="title" value="{{ title }}">
        {% if errors and errors.title %}
            <div class="error">
                Please enter a title.
            </div>
        {% endif %}
    </label>

    <label>
        <div>Body</div>
        <textarea name="body">{{ body }}</textarea>
        {% if errors and errors.body %}
            <div class="error">
                Your blog post cannot be blank. Please enter your blog post content.
            </div>
        {% endif %}
    </label>

    <div>
        <input type="submit">
    </div>
</form>

{% endblock %}
