{% extends "base.html" %}

{% block body %}
<h1>{{ page_title }}</h1>

<form method="POST">
    <label>
        <div>Title</div>
        <input type="text" name="title" value="{{ title }}">
        {% if errors and errors.title %}
            <div class="error">
                {{ errors.title }}
            </div>
        {% endif %}
    </label>

    <label>
        <div>Body</div>
        <textarea name="body">{{ body }}</textarea>
        {% if errors and errors.body %}
            <div class="error">
                {{ errors.body }}
            </div>
        {% endif %}
    </label>

    <div>
        <input type="submit">
    </div>
</form>

{% endblock %}
