{% extends "base.html" %}

{% block title %}Signup - Simple Blog{% endblock %}

{% block body %}
<h1>Signup</h1>

<form method="post">
    <label>
        <div>Email</div>
        <input type="text" name="email" value="{{ email }}">
        {% if errors and errors.email %}
            <div class="error">
                Please enter a valid email address.
            </div>
        {% endif %}
        {% if errors and errors.user_exists %}
            <div class="error">
                There is already a user registered with this email.
            </div>
        {% endif %}
    </label>

    <label>
        <div>Password</div>
        <input type="password" name="password">
        {% if errors and errors.password %}
            <div class="error">
                Please enter a valid password. 3-20 characters.
            </div>
        {% endif %}
    </label>

    <label>
        <div>Verify Password</div>
        <input type="password" name="verify_pw">
        {% if errors and errors.verify_pw %}
            <div class="error">
                Your passwords do not match. Please re-enter your passwords.
            </div>
        {% endif %}
    </label>

    <label>
        <div>Display Name (optional)</div>
        <input type="text" name="displayname" value="{{ displayname }}">
    </label>

    <div>
        <input type="submit">
    </div>
</form>

<div>
    Already have an account? <a href="{{ uri_for('login') }}">Login</a>
</div>
{% endblock %}
