{% extends "base.html" %}

{% block body %}
<h1>{{ page_title }}</h1>

<!-- TODO: error styling -->
<form method="post">
    <label>
        <div>Email</div>
        <input type="text" name="email" value="{{ email }}">
        {% if errors and errors.email %}
            {{ errors.email }}
        {% endif %}
        {% if errors and errors.user_exists %}
            {{ errors.user_exists }}
        {% endif %}
    </label>

    <label>
        <div>Password</div>
        <input type="password" name="password">
        {% if errors and errors.password %}
            {{ errors.password }}
        {% endif %}
    </label>

    <label>
        <div>Verify Password</div>
        <input type="password" name="verify">
        {% if errors and errors.verify %}
            {{ errors.verify }}
        {% endif %}
    </label>

    <label>
        <div>Display Name (optional)</div>
        <input type="text" name="displayname" value="{{ displayname }}">
        {% if errors and errors.displayname %}
            {{ errors.displayname }}
        {% endif %}
    </label>

    <div>
        <input type="submit">
    </div>
</form>
{% endblock %}
