{% extends "base.html" %}

{% block body %}
<h1>{{ page_title }}</h1>

<form method="post">
    <label>
        <div>Email</div>
        <input type="text" name="email" value="{{ email }}">
        {% if errors and (errors.email or errors.user_exists) %}
            <div class="error">
                {{ errors.email }}
                {{ errors.user_exists }}
            </div>
        {% endif %}
    </label>

    <label>
        <div>Password</div>
        <input type="password" name="password">
        {% if errors and errors.password %}
            <div class="error">
                {{ errors.password }}
            </div>
        {% endif %}
    </label>

    <label>
        <div>Verify Password</div>
        <input type="password" name="verify">
        {% if errors and errors.verify %}
            <div class="error">
                {{ errors.verify }}
            </div>
        {% endif %}
    </label>

    <label>
        <div>Display Name (optional)</div>
        <input type="text" name="displayname" value="{{ displayname }}">
    </label>

    <div>
        <input type="submit">
    </div>
</form>

<div>
    Already have an account? <a href="{{ login }}">Login</a>
</div>
{% endblock %}
