{% extends "base.html" %}

{% block body %}
<h1>{{ page_title }}</h1>

<div class="post">
    {% if can_edit %}
    <div>
        <form action="{{ edit_url }}" method="get">
            <input type="hidden" name="post_id" value="{{ p.key.id() }}">
            <input type="submit" value="Edit">
        </form>
    </div>
    {% endif %}
    <pre class="post-body">
        {{ p.body }}
    </pre>

    {% if can_like %}
    <div>
        <form method="post">
            <input type="hidden" name="action" value="like">
            <input type="submit" value="Like">
        </form>
    </div>
    {% endif %}
    {% if liked_post %}
        <div>
            You liked this post
        </div>
        <div>
            <form method="post">
                <input type="hidden" name="action" value="unlike">
                <input type="submit" value="Unlike">
            </form>
        </div>
    {% endif %}
</div>

{% endblock %}
