{% extends "base.html" %}

{% block body %}
<h1>{{ page_title }}</h1>

<div class="post">
    {% if can_edit %}
        <div>
            <a href="{{ edit_post_uri }}">Edit</a>
        </div>
    {% endif %}

    <pre class="post-body">
        {{ p.body }}
    </pre>

    {% if can_like %}
        <div>
            <form method="post">
                <input type="hidden" name="action" value="like">
                <input type="submit" value="Like">
            </form>
        </div>
    {% endif %}

    {% if liked_post %}
        <div>
            You liked this post
        </div>
        <div>
            <form method="post">
                <input type="hidden" name="action" value="unlike">
                <input type="submit" value="Unlike">
            </form>
        </div>
    {% endif %}

    <div class="comments">
        <!-- TODO: list comments, or say no comments -->
        {% if comments %}
            {% for c in comments %}
                <div class="comment">
                    <div class="comment-body">
                        {{ c.body }}
                    </div>
                    <div class="comment-author">
                        {{ c.author.get().get_displayname() }}
                    </div>
                    {% if user and user.can_edit(c) %}
                        <div class="comment-edit">
                            <a href="{{ uri_for('editcomment', comment_key=c.key.urlsafe()) }}">Edit Comment</a>
                        </div>
                    {% endif %}
                </div>
            {% endfor %}
        {% else %}
            <p>No comments</p>
        {% endif %}
    </div>

    {% if can_comment %}
    <div class="comment-form">
        <form method="post">
            <label>
                <div>Comment</div>
                <textarea name="comment">{{ comment }}</textarea>
                {% if errors and errors.comment %}
                    {{ errors.comment }}
                {% endif %}
            </label>

            <input type="hidden" name="action" value="comment">

            <div>
                <input type="submit">
            </div>
        </form>
    </div>
    {% endif %}
</div>

{% endblock %}
