{% extends "base.html" %}

{% block title %}{{ post.title }} - Simple Blog{% endblock %}

{% block body %}
<h1>{{ post.title }}</h1>

<div class="post">
    {% if user and user.can_edit(post) %}
        <div>
            <a href="{{ uri_for('editpost', post_id=post.key.id()) }}">Edit</a>
        </div>
    {% endif %}

    <pre class="post-body">
        {{ post.body }}
    </pre>

    {% if user and user.can_like_post(post) %}
        <div>
            <form action="{{ uri_for('likepost', post_id=post.key.id()) }}" method="post">
                <input type="submit" value="Like">
            </form>
        </div>
    {% endif %}

    {% if user and user.liked_post(post) %}
        <div>
            You liked this post
        </div>
        <div>
            <form action="{{ uri_for('unlikepost', post_id=post.key.id()) }}" method="post">
                <input type="submit" value="Unlike">
            </form>
        </div>
    {% endif %}

    <div class="comments">
        <!-- TODO: list comments, or say no comments -->
        {% if comments %}
            {% for c in comments %}
                <div class="comment">
                    <div class="comment-body">
                        {{ c.body }}
                    </div>
                    <div class="comment-author">
                        {{ c.author.get().get_displayname() }}
                    </div>
                    {% if user and user.can_edit(c) %}
                        <div class="comment-edit">
                            <a href="{{ uri_for('editcomment', comment_key=c.key.urlsafe()) }}">Edit Comment</a>
                        </div>
                    {% endif %}
                </div>
            {% endfor %}
        {% else %}
            <p>No comments</p>
        {% endif %}
    </div>

    {% if user %}
    <div class="comment-form">
        <form action="{{ uri_for('newcomment', post_id=post.key.id()) }}" method="post">
            <label>
                <div>Comment</div>
                <textarea name="comment_body"></textarea>
            </label>

            <div>
                <input type="submit">
            </div>
        </form>
    </div>
    {% endif %}
</div>

{% endblock %}
