{% extends "base.html" %}

{% block title %}{{ post.title }} - Simple Blog{% endblock %}

{% block body %}
<h1>{{ post.title }}</h1>

<div class="post">
    {% if user and user.can_edit(post) %}
        <div>
            <a href="{{ uri_for('editpost', post_id=post_id) }}">Edit</a>
        </div>
    {% endif %}

    <pre class="post-body">
        {{ post.body }}
    </pre>

    {% if user %}
        {% if user.can_like_post(post) %}
            <div>
                <form action="{{ uri_for('likepost', post_id=post_id) }}" method="post">
                    <input type="submit" value="Like">
                </form>
            </div>
        {% elif user.liked_post(post) %}
            <div>
                You liked this post
            </div>
            <div>
                <form action="{{ uri_for('unlikepost', post_id=post_id) }}" method="post">
                    <input type="submit" value="Unlike">
                </form>
            </div>
        {% endif %}
    {% endif %}

    <div class="comments">
        {% if comments %}
            {% for comment in comments %}
                <div class="comment">
                    <div class="comment-body">
                        {{ comment.comment_body }}
                    </div>
                    <div class="comment-author">
                        {{ comment.author.get().get_displayname() }}
                    </div>
                    {% if user and user.can_edit(comment) %}
                        <div class="comment-edit">
                            <a href="{{ uri_for('editcomment', url_comment_key=comment.key.urlsafe()) }}">Edit Comment</a>
                        </div>
                    {% endif %}
                </div>
            {% endfor %}
        {% else %}
            <p>No comments</p>
        {% endif %}
    </div>

    {% if user %}
    <div class="comment-form">
        <form action="{{ uri_for('newcomment', post_id=post_id) }}" method="post">
            <label>
                <div>Comment</div>
                <textarea name="comment_body"></textarea>
            </label>

            <div>
                <input type="submit">
            </div>
        </form>
    </div>
    {% endif %}
</div>

{% endblock %}
